
@font-face {font-family: "iconfont";
  src: url(./iconfont.eot); /* IE9*/
  src: url(./iconfont.eot) format('embedded-opentype'), /* IE6-IE8 */
  url(./iconfont.woff) format('woff'),
  url(./iconfont.ttf) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url(./iconfont.svg) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-index:before { content: "\e6bd"; }

.icon-weibo:before { content: "\e61b"; }

.icon-save-draft:before { content: "\e65a"; }

.icon-draw:before { content: "\e61c"; }

.icon-signin:before { content: "\e6e1"; }

.icon-blog:before { content: "\e60c"; }

.icon-about-me:before { content: "\e600"; }

.icon-edit:before { content: "\e75a"; }

.icon-article:before { content: "\e665"; }

.icon-signup:before { content: "\e676"; }

.icon-picture:before { content: "\e617"; }

.icon-dota:before { content: "\e60d"; }

.icon-tool:before { content: "\e6e9"; }

.icon-publish:before { content: "\e608"; }

.icon-qq:before { content: "\e611"; }

.icon-article2:before { content: "\e602"; }

.icon-signout:before { content: "\e637"; }

.icon-add:before { content: "\e603"; }

.icon-drop:before { content: "\e601"; }

.icon-delete:before { content: "\e615"; }

