.main-nav {
    height: 30vh;
}
.nav-list {
    margin-top: 5vh;
}
.nav-item {
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    font-size: 1.2rem;
    padding-right: 20px;
}
.nav-item:hover,
.nav-item-active {
    border-right: 4px solid #32d3c3;
    color: #32d3c3;
    background-color: #26252f;
}
.nav-item:hover {
    cursor: pointer;
}
.about-me-wrap {
    width: 80%;
    text-align: left;
    margin: auto;
}
.nav-icon {
    font-size: 1.8rem;/* 该项与nav-icon-label line-height值相同 */
}
.nav-icon-label {
    display: inline-block;
    line-height: 1.8rem;/* 该项与nav-icon font-size值相同 */
    vertical-align: super;
    padding-left: 0.5rem;
}
.my-connection-list {
    margin: 2vh 0;
}
.my-connection-item {
    padding: 0.2rem 0;
}
.my-connection-item:hover {
    cursor: default;
}
#qq:hover .icon-qq {
    color: #08b8b9;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#weibo:hover .icon-weibo {
    color: #ff5907;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.float-ele {
    position: fixed;
    right: 3rem;
    z-index: 10000;
}
.float-btn {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    top: 1rem;
    border-radius: 50%;
    background-color: rgba(0,0,0,.3);
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
    color: white;
}
.float-btn:hover {
    background-color: #3d4349;
    cursor: pointer;
}
.float-btn > .btn-line{
    background-color: white;
    height: 0.15rem;
    width: 2rem;
    display: inline-block;
    position: absolute;
    left: 1rem;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .6s cubic-bezier(.165,.84,.44,1);
    -moz-transition: all .6s cubic-bezier(.165,.84,.44,1);
    transition: all .6s cubic-bezier(.165,.84,.44,1);
}
.float-btn > .btn-line:nth-of-type(1){
    top: 1.3rem;
}
.float-btn > .btn-line:nth-of-type(2){
    top: 1.95rem;
}
.float-btn > .btn-line:nth-of-type(3){
    top: 2.7rem;
}
.float-btn.close > .btn-line:nth-of-type(1){
    left: 1.35rem;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.float-btn.close > .btn-line:nth-of-type(2){
    opacity: 0;
}
.float-btn.close > .btn-line:nth-of-type(3){
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    left: 1.2rem;
}
.float-menu {
    top: 4.5rem;
    text-align: center;
    color: white;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.float-menu ul > li {
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,.3);
    border-radius: 0.5rem;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.float-menu ul > li:hover {
    background-color: #3d4349;
    cursor: pointer;
}
.float-menu.showing {
    opacity: 1;
    top: 5.5rem;
}
/*************** 弹出层样式 *************/
.field {
    clear: both;
    margin: 0 0 1.5rem;
    font-size: 1.1rem;
}
.field > label {
    display: block;
    margin: 0 0 .3rem;
    color: rgba(0,0,0,.87);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: none;
}
.field.required > label:after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: red;
}
.field input,
.field textarea{
    font-size: 1.2rem;
    width: 80%;
}
.field textarea{
    margin: 0;
    -webkit-appearance: none;
    padding: .8rem 1rem;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    outline: 0;
    color: rgba(0,0,0,.87);
    border-radius: .4rem;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    line-height: 1.2rem;
    resize: vertical;
}
.field > input {
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    line-height: 1.2rem;
    padding: 0.8rem 1rem;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: 0.4rem;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}
.field input:focus,
.field textarea:focus {
    color: rgba(0,0,0,.95);
    border-color: #85b7d9;
    border-radius: .4rem;
    background: #fff;
    box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
}
.field .text {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(0,0,0,.8);
    display: inline-block;
    -webkit-transition: none;
    transition: none;
}
.field .dropdown-icon {
    float: right;
    font-size: 0.1rem;
    color: rgba(0,0,0,.87);
}
.field .dropdown {
    position: relative;
    width: 80%;
    cursor: pointer;
    word-wrap: break-word;
    line-height: 1.2rem;
    white-space: normal;
    outline: 0;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    min-height: 1.2rem;
    background: #fff;
    display: inline-block;
    padding: 0.8rem 1rem;
    color: rgba(0,0,0,.87);
    box-shadow: none;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 0.4rem;
    -webkit-transition: box-shadow .1s ease,width .1s ease;
    transition: box-shadow .1s ease,width .1s ease;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.dropdown:hover {
    border-color: rgba(34,36,38,.35);
    box-shadow: none;
}
.dropdown:focus {
    border-color: #96c8da;
    box-shadow: none;
}
.dropdown .menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    font-size: 1.1rem;
    background: white;
    box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .4rem;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    will-change: opacity, top;
}
.menu-animation {
    opacity: 0;
    top:60% !important;
}
.dropdown .menu.hidden {
    visibility: hidden;
}
.transition {
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.dropdown .menu-item {
    position: relative;
    cursor: pointer;
    display: block;
    border: none;
    text-align: left;
    line-height: 1.2rem;
    color: rgba(0,0,0,.87);
    padding: 0.7rem 1rem!important;
    font-size: 1rem;
    text-transform: none;
    box-shadow: none;
}
.dropdown .menu-item.selected {
    background: rgba(0,0,0,.03);
    color: rgba(0,0,0,.95);
    font-weight: 700;
}
.dropdown .menu-item:hover {
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
    z-index: 13;
}
/*************** 弹出层样式 *************/